@import "vars";

.mainContainer {
  margin-top: 12vh;

  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: min(10vw, 90px);
    & > p,
    h2 {
      margin: 0;
    }

    @include fontSize(1.5em, 2em, 3em);
  }

  .formContainer {
    display: grid;
    justify-content: center;
    grid-row-gap: 2vh;
    align-items: flex-start;
    justify-items: center;

    .input {
      line-height: 28px;
      width: min(70vw, 1100px);
      border: 2px solid transparent;
      border-bottom-color: $input-border-color;
      padding: 0.2rem 0;
      outline: none;
      background-color: transparent;
      color: #0d0c22;
      transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

      @include fontSize(1em, 1.5em, 2.5em);

      &:focus,
      &:hover {
        outline: none;
        padding: 0.2rem 0.3rem;
      }

      &::placeholder {
        color: $placeholder-color;
      }

      &:focus::placeholder {
        opacity: 0;
        transition: opacity 0.3s;
      }
    }

    .btnContainer {
      display: flex;
      justify-content: center;
      margin: min(5vw, 40px);
    }
  }

  .line {
    height: 1px;
    border: 0;
    background: $line-color;
    width: min(70vw, 1100px);
  }

  .minorText {
    font-size: 14px;

    .link {
      text-decoration: none;
      color: $link-color;
    }
  }
  .spanRedirect {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @include fontSize(1em, 1.5em, 2em);
  }
}
